[Unit]
Description=Lab2 Application
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/ec2-user/app/main.py
Restart=always
User=ec2-user
WorkingDirectory=/home/ec2-user

[Install]
WantedBy=multi-user.target